[configuration]
entry_symbol = "gdext_rust_init"
compatibility_minimum = 4.4
reloadable = true

[icons]
RollbackArea3D = "res://addons/godot-rollback-3d/icons/area_3d.svg"
RollbackKinematicCharacter3D = "res://addons/godot-rollback-3d/icons/character_body_3d.svg"
RollbackPIDCharacter3D = "res://addons/godot-rollback-3d/icons/character_body_3d.svg"
RollbackCollisionShape3D = "res://addons/godot-rollback-3d/icons/collision_shape_3d.svg"
RollbackRigidBody3D = "res://addons/godot-rollback-3d/icons/rigid_body_3d.svg"
RollbackStaticBody3D = "res://addons/godot-rollback-3d/icons/static_body_3d.svg"

[libraries]
linux.debug.x86_32 =         "res://addons/godot-rollback-3d/bin/i686-unknown-linux-gnu-libgodot_rollback_3d.so"
linux.release.x86_32 =       "res://addons/godot-rollback-3d/bin/i686-unknown-linux-gnu-libgodot_rollback_3d.so"
linux.debug.x86_64 =         "res://addons/godot-rollback-3d/bin/x86_64-unknown-linux-gnu-libgodot_rollback_3d.so"
linux.release.x86_64 =       "res://addons/godot-rollback-3d/bin/x86_64-unknown-linux-gnu-libgodot_rollback_3d.so"
linux.debug.arm64 =          "res://addons/godot-rollback-3d/bin/aarch64-unknown-linux-gnu-libgodot_rollback_3d.so"
linux.release.arm64 =        "res://addons/godot-rollback-3d/bin/aarch64-unknown-linux-gnu-libgodot_rollback_3d.so"
macos.debug =                "res://addons/godot-rollback-3d/bin/aarch64-apple-darwin-libgodot_rollback_3d.dylib"
macos.release =              "res://addons/godot-rollback-3d/bin/aarch64-apple-darwin-libgodot_rollback_3d.dylib"
macos.debug.x86_64 =         "res://addons/godot-rollback-3d/bin/x86_64-apple-darwin-libgodot_rollback_3d.dylib"
macos.release.x86_64 =       "res://addons/godot-rollback-3d/bin/x86_64-apple-darwin-libgodot_rollback_3d.dylib"
macos.debug.arm64 =          "res://addons/godot-rollback-3d/bin/aarch64-apple-darwin-libgodot_rollback_3d.dylib"
macos.release.arm64 =        "res://addons/godot-rollback-3d/bin/aarch64-apple-darwin-libgodot_rollback_3d.dylib"
windows.debug.x86_32 =       "res://addons/godot-rollback-3d/bin/i686-pc-windows-msvc-godot_rollback_3d.dll"
windows.release.x86_32 =     "res://addons/godot-rollback-3d/bin/i686-pc-windows-msvc-godot_rollback_3d.dll"
windows.debug.x86_64 =       "res://addons/godot-rollback-3d/bin/x86_64-pc-windows-msvc-godot_rollback_3d.dll"
windows.release.x86_64 =     "res://addons/godot-rollback-3d/bin/x86_64-pc-windows-msvc-godot_rollback_3d.dll"
web.debug.threads.wasm32 =   "res://addons/godot-rollback-3d/bin/wasm32-unknown-emscripten-godot_rollback_3d.threads.wasm"
web.release.threads.wasm32 = "res://addons/godot-rollback-3d/bin/wasm32-unknown-emscripten-godot_rollback_3d.threads.wasm"
web.debug.wasm32 =           "res://addons/godot-rollback-3d/bin/wasm32-unknown-emscripten-godot_rollback_3d.wasm"
web.release.wasm32 =         "res://addons/godot-rollback-3d/bin/wasm32-unknown-emscripten-godot_rollback_3d.wasm"